<%
function isMedia(item) {
  var cats = item.categories || [];
  if (!Array.isArray(cats)) cats = [cats];
  return cats.indexOf('media') !== -1 || cats.indexOf('writing') !== -1;
}

var visible = items.filter(function(item) {
  return isMedia(item) && !item.hide_in_news;
});

var byYear = {};
var years = [];
visible.forEach(function(item) {
  var y = item.date ? new Date(item.date).getFullYear() : 'undated';
  if (!byYear[y]) { byYear[y] = []; years.push(y); }
  byYear[y].push(item);
});
%>
<div class="news-list">
<% years.forEach(function(year) { %>
<div class="news-year-group">
<div class="news-year"><%= year %></div>
<% byYear[year].forEach(function(item) { %>
<div class="news-item">
<div class="news-date"><% if (item.date) { %><%= new Date(item.date).toLocaleDateString('en-US', {year: 'numeric', month: 'short'}) %><% } %></div>
<div class="news-text"><% var t = item.news_title || item.title; if (item.path) { %><a href="<%= item.path %>"><%- t %></a><% } else { %><%- t %><% } %></div>
</div>
<% }); %>
</div>
<% }); %>
</div>
